{% extends "layout.html" %}
{% block title%}Home{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Notes App</h1>

        <!-- Note Submission Form -->
        <form method="POST" name="save_note" action="{{ url_for('views.index') }}">
            <div class="input-group mb-3">
                <label>
                    <input type="text" class="form-control" name="note_content" placeholder="Enter your note...">
                </label>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Save Note</button>
                </div>
            </div>
        </form>

        <!-- Display Saved Notes -->
        <h2>Your Notes:</h2>
        <ul class="list-group">
            {% for note in user.notes %}
                <li class="list-group-item">{{ note.content }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}